@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  color: #21243D;
  font-size: 14px;
  font-family: heebo;
}

body._lock {
  overflow: hidden;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=_icon-]::before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-Linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 100;
}

.header__contant {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #21243D;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.hello {
  padding: 38px 0px 71px 0px;
}

.hello__container {
  display: flex;
}

.hello__content {
  align-items: flex-start;
  padding: 18px 110px 0px 0px;
  flex: 1 1 auto;
}

.hello__content > *:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.hello__photo {
  flex: 0 0 243px;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  position: relative;
  box-shadow: -5px 13px 0px 0px #EDF7FA;
}

.hello__photo img {
  max-width: 100%;
}

.recent-posts {
  padding: 25px 0px 13px 0px;
  background: #EDF7FA;
}

.recent-posts__header {
  display: flex;
  padding: 0px 0px 20px 0px;
}

.recent-posts__titel {
  flex: 1 1 auto;
  padding: 0px 20px 0px 0px;
}

.recent-posts__view-all {
  flex: 0 0 auto;
  color: #00A8CC;
  font-weight: 400;
  font-size: 16px;
}

.recent-posts__column {
  flex: 0 1 50%;
  margin: 0px 0px 17px 0px;
}

.recent-post {
  padding: 12px 9px 20px 19px;
  background: #FFFFFF;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}

.recent-post *:last-child {
  margin-bottom: 0;
}

.recent-post__titel {
  display: inline-block;
  color: #21243D;
  font-size: 26px;
  line-height: 146.1538461538%;
  font-weight: 700;
  margin: 0px 0px 17px 0px;
  transition: color 0.3s ease 0s;
}

.recent-post__info {
  font-weight: 400;
  font-size: 18px;
  margin: 0px 0px 15px 0px;
  line-height: 144.4444444444%;
}

.recent-post__info span {
  margin: 0 10px;
}

.featured-works {
  padding: 30px 0px 80px 0px;
}

.featured-works__header-titel {
  padding: 0px 0px 20px 0px;
}

.titel {
  font-size: 44px;
  font-weight: 700;
  line-height: 136.3636363636%;
}

.text,
.artical__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.titel-posts {
  font-size: 22px;
  font-weight: 400;
}

.works-blog {
  color: #21243D;
  font-size: 30px;
  line-height: 146.6666666667%;
  font-weight: 700;
  transition: color 0.3s ease 0s;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  height: 47px;
  background: #FF6464;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #FFFFFF;
  transition: background 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

.works__items {
  padding: 0px 0px 45px 0px;
}

.works__header {
  margin: 0px 0px 45px 0px;
}

.works__item {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E0;
}

.works__image {
  min-height: 180px;
  flex: 0 0 246px;
  display: block;
  overflow: hidden;
  border-radius: 6px;
}

.works__body {
  flex: 1 1 auto;
}

.works__body *:last-child {
  margin-bottom: 0;
}

.works__titel {
  display: inline-block;
  margin: 0px 0px 17px 0px;
}

.works__info {
  display: flex;
  align-items: center;
  margin: 0px 0px 17px 0px;
}

.works__year {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  margin: 0px 26px 0px 0px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
}

.works__category {
  color: #8695A4;
  font-weight: 400;
  font-size: 20px;
}

.works__text {
  margin: 0px 0px 17px 0px;
}

.footer {
  padding: 50px 0;
}

.footer__social {
  margin: 0px 0px 26px 0px;
}

.footer__copy {
  text-align: center;
}

.blog {
  padding-bottom: 50px;
  max-width: 681px;
}

.blog__header {
  margin: 0px 0px 55px 0px;
}

.blog__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
}

.blog__item:last-child {
  margin-bottom: 0;
}

.blog__titel {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  color: #21243D;
  font-size: 30px;
  font-weight: 500;
  line-height: 146.6666666667%;
  transition: color 0.3s ease 0s;
}

.blog__info {
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-size: 20px;
}

.blog__info span {
  margin: 0 10px;
}

.blog__category {
  display: inline;
  color: #8695A4;
}

.blog__text {
  margin: 0px 0px 10px 0px;
}

.artical {
  max-width: 701px;
  padding: 0 10px 30px;
  margin: 0 auto;
}

.artical__header {
  font-weight: 700;
  line-height: 147.0588235294%;
  font-size: 34px;
  margin: 0px 0px 30px 0px;
}

.artical__info {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.artical__year {
  display: flex;
  font-weight: 900;
  font-size: 18px;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  height: 25px;
  margin: 0px 17px 0px 0px;
  color: #FFFFFF;
  background: #FF7C7C;
  border-radius: 16px;
}

.artical__category {
  font-weight: 400;
  font-size: 20px;
}

.artical__text p {
  margin: 0px 0px 20px 0px;
}

.artical__text img {
  max-width: 100%;
  margin: 0px 0px 20px 0px;
}

.page {
  flex: 1 1 auto;
  padding: 90px 0px 0px 0px;
}

.social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin: 0px 17.5px;
  color: #21243D;
  font-size: 30px;
  transition: color 0.3s ease 0s;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
  }

  .menu__list li {
    margin: 0px 33px 0px 0px;
  }

  .recent-posts__items {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
  }

  .recent-posts__column {
    padding: 0 10px;
  }

  .recent-post {
    padding: 24px 32px 23px 23px;
  }

  .works__item {
    display: flex;
  }

  .works__body {
    padding: 0px 0px 0px 18px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #FF6464;
  }

  .recent-post__titel:hover {
    color: #FF6464;
  }

  .works-blog:hover {
    color: #FF6464;
  }

  .btn:hover {
    background: #9c3c3c;
  }

  .blog__titel:hover {
    color: #FF6464;
  }

  .social__item:hover {
    color: #FF6464;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }

  .hello {
    padding: 0px 0px 70px 0px;
  }

  .hello__content {
    padding: 18px 50px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    height: 50px;
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    height: 50px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu__body._active {
    transform: translate(0px, 0%);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .hello {
    padding: 9px 0px 60px 0px;
  }

  .hello__container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .hello__content {
    padding: 0px 0px 0px 0px;
  }

  .hello__text {
    padding: 0 13px;
  }

  .hello__photo {
    margin: 0px 0px 40px 0px;
    width: 170px;
    height: 170px;
    flex: 0 0 170px;
    box-shadow: -4px 10px 0px 0px #EDF7FA;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-post__titel {
    font-size: 22px;
  }

  .recent-post__info {
    font-size: 16px;
  }

  .featured-works {
    padding: 30px 0px 30px 0px;
  }

  .titel {
    font-size: 32px;
  }

  .titel-posts {
    text-align: center;
    font-size: 18px;
  }

  .works-blog {
    font-size: 25px;
  }

  .works__items {
    padding: 0px 0px 20px 0px;
  }

  .works__header {
    margin: 0px 0px 20px 0px;
  }

  .works__image {
    padding: 0px 0px 65.7% 0px;
    margin: 0px 0px 17px 0px;
  }

  .works__year {
    font-size: 16px;
  }

  .works__category {
    font-size: 16px;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__header {
    margin: 0px 0px 30px 0px;
  }

  .blog__item {
    padding: 0px 0px 24px 0px;
    margin: 0px 0px 24px 0px;
  }

  .blog__titel {
    font-size: 26px;
  }

  .blog__info {
    font-size: 16px;
  }

  .page {
    padding: 24px 0px 0px 0px;
  }
}
